body{
    display: grid;
    place-content: center;
    height: 99vh;
}
.box{
    max-width: 30rem;
    min-height: 20rem;
    display: grid;
    place-content: center;
    background-color: bisque;
}
.timer{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.count{
    font-weight: 500;
    margin: 10px;
    font-size: 1rem;
}
.active{display: none;}