:root{
    --body-background: rgb(243, 237, 237);
    --body-color: black;
}
[data-theme="dark"]{
    background-color: #0f0f0f;
    color: rgb(255, 255, 255);
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--body-background);
    color: var(--body-color);
}
button{
    padding: 10px 20px;
    margin: 20px !important;
    background-color: var(--body-background);
    /* color: var(--body-background); */
}